.carousel-caption-reset{
    position: absolute;
    height:0px;
    right: 15%;
    left: 15%;
    z-index: 10;
    color: white;
    text-align: center;
    top:240px;
}
.carousel-inner img {
    width:100%;
    height:100%;
}
#demo{
    height:0px;
    padding-bottom:40%;
    overflow: hidden;
}
footer{
    text-align: center;
}
.recommend-border{
    border: 0px solid #ffffff;
}
.border-3{
    border: 3px solid deepskyblue;
}
